@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

.App{
    text-align: center;
    background: #FDFBF0;
    /* background-image: url('../images/GardenGround1.png'); */
    background-size: cover;
    background-position: center  ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    
}

.ground{
    position: center;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

.grain-up-logo{
    margin: auto;
    max-width: 100px;
    height: 100px;
}

.title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
   
}

.home{
    text-align: center;
}


.seedview{
    margin: auto;
    max-width: 100px;
    height: 100px;
    text-align: center; 
    /* position: relative;
    z-index:100; */
}

.seedview-div{
    text-align: center;
}
.plant-name{
    color:black
}

.plant-info{
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

