@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

.App{
    text-align: center;
    background: #FDFBF0;
    /* background: green; */
    background-image: url('../images/GardenGround1.png');
    background-size: 800px 300px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    
    width: 100vw;
    height: 100vh;  
    margin:0px;
}

body{
    position: relative;
    margin: 0px;
}
/* .ground{
    position: center;
    width: 100%;
    height: 300px;

} */

.grain-up-logo{
    max-width: 100px;
    height: 100px;
    margin-top: 10%;
}

.title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
   
}

.home{
    text-align: center;
}

.emptyview{
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    text-align: center; 
    position: center;
}

.seedview{
    margin: auto;
    position: relative;
    top: 180px;
    max-width: 100px;
    height: 70px;
    text-align: center; 
    /* position: relative;
    z-index:100; */
}

.halfplantview{
    position: relative;
    top: 110px;
    left:10px;
    
    max-width: 240px;
    height: 120px;
    text-align: center; 
}

.fullplantview{
    position: relative;
    top:-50px;
    max-width: 250px;
    height: 300px;
    text-align: center; 
}


.seedview-div{
    text-align: center;
}


.plant-name{
    color:black
}

.plant-info{
    position:relative;
    /* top:-20px; */
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    /* background-color: white; */
    /* margin: auto; */
    /* width: 30%; */
    /* border-radius: 30px;
    padding: 10px;
    width:230px;
    height:200px;
    position: absolute;
    top: 50%;
    left: 60%; */
    
}

.addPlantForm{
    font-family: 'Roboto', sans-serif;
    font-weight: 100 
}

.addWaterForm{
    font-family: 'Roboto', sans-serif;
    font-weight: 100 
}
  
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #EDEAEA;
    margin: 8px 0;
    border: transparent
  }

  ::placeholder{
      color:#A3A1A1

  }
  input:focus::placeholder {
    color: transparent;
  }

  .plant-form-button{
      background: #FFDB52;
      padding: 15px 32px;
      border-radius: 30px;
      border: transparent;
      color:white;
      font-family: 'Roboto', sans-serif; 
      font-weight: 400;
  }
  .plant-form-button:hover{
    background: #F4B832;
    color: white;
    cursor: pointer;
}

  .water-form-button{
    background: #FFDB52;
    padding: 15px 32px;
    border-radius: 30px;
    border: transparent;
    color:white;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}
.water-form-button:hover{
    background: #F4B832;
    color: white;
    cursor: pointer;
}

.water-me-button{
    /* position:relative;
    left:160px;
    top: 130px; */
    display: inline-block;
    text-decoration: none;
    background: url('../images/WaterIcon.svg') no-repeat;
    background-size: 40px 40px;
    background-color: #FCEBC6;
    background-position: center;
    color: #F4B832;
    width: 60px;
    height: 60px;
    border: solid 3px #F4B832;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .3s;
    
}
.water-me-button:hover{
    background: url('../images/WaterIconWhite.svg') no-repeat;
    background-color: #F4B832;
    background-size: 40px 40px;
    background-position: center;
      color: white;
      cursor: pointer;
}

.fixed-water-me-div{
    position:fixed;
    right:30px;
    bottom: 45px;

}


.add-new-button{
    display: inline-block;
    text-decoration: none;
    background: #FCEBC6;
    color: #F4B832;
    width: 60px;
    height: 60px;
    border: solid 3px #F4B832;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    font-size: 50px;
  }
  
  .add-new-button:hover{
      background: #F4B832;
      color: white;
      cursor: pointer;
  }

  .add-new-button-div{
    position:relative;
    top:50px;
    font-family: 'Roboto', sans-serif; 
  }
  
  .your-plant-has-div{
    position:relative;
    top:50px;
    line-height: 1;
    font-family: 'Roboto', sans-serif; 
  }

  .deco1{
    max-width: 500px;
    height: 250px;
    
  }

  .deco1-div{
    position:fixed;
    right:-80px;
    bottom: 270px;
  }